p{
	font-size:20px;
	font-family:Verdana; 

	margin:40px;

}

h3{
	font-size:30px;
	font-family:Broadway;

	left:40px;
}


.p123{
	background:rgba(208, 191, 235,0.5);

	width:90%;
}

h1{
	text-align:center;
	 font-size:40px;
  font-family:Berlin Sans FB Demi;
}

h2{
	font-size:40px;
	font-family:Britannic Bold;

	margin:30px;

	background:rgba(113, 84, 229,0.2);

	width:90%;
	height:50px;

	text-align:center;
}
